body
{
    background-color: rgb(144, 164, 142);
}
.parent {
    width: 200px;
    height: 200px;
    border: 3px dotted green
    }
    .relative {
    position: relative;
    left: 30px;
    top: 30px;
    border: 3px solid rgb(115, 78, 78);
    }
    .normal {
    border: 2px dashed rgb(7, 7, 143);
    }
    positioned {
        position: relative;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        }
        .non-positioned {
        border: 1px dashed black;
        width: 150px;
        height: 150px;
        }
        .absolute {
            position: absolute;         
            border: 2px solid rgb(152, 13, 13);
            background-color: white;
            }
            .flex-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: #f1f1f1; 
}

.flex-item {
    margin: 0 15px; 
}

.flex-item a {
    text-decoration: none; 
    color: #333; 
}

.flex-item a:hover {
    color: #007BFF;
}
